html, body {
  height: 100%;
  width: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
}

.code-div {
	margin: 0;
	padding: 0;
}

.header-inputs {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 10vmin;
	background-color: #212121;
}


.header {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 5vmin;
}


.inputs {
	margin: 0;
	padding: .75vmin;
	width: 100vw;
	height: 5vmin;
}

.input {
	float: left;
	margin: 0 1vmin 0 1vmin;
	border-radius: 1vmin;
	line-height: 3.5vmin;
	font-size: 2vmin;
	padding: 0 1.5vmin 0 1.5vmin;
	width: min-content;
	background: #bababa;
	color:white;
}

.new {
	background: linear-gradient(45deg, rgba(58,180,77,1) 0%, rgba(11,255,37,1) 100%);
}

.inputs-label {
	float: left;
	margin: .5vmin 1vmin .5vmin calc(29px + .5vmin);
	color: white;
}
